*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: sans-serif;

}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right,#a5d3df,#064964,#0a4864);
    padding: 0 !important;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color:#fff !important;
    font-weight:600;
    float:right;
    text-align: left;
}
.fa-bars
{
    color: #fff;
    font-size: 30px !important;
}
.nav-toggler
{
    outline: none i !important;
}
#banner
{
    
    color: #fff;
    padding-top: 5%;
}
.promo-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.play-btn
{
    width:45px;
    margin: 20px;
}
#banner a{
    color:#fff;
    text-decoration: none;
}
#services
{
    padding: 80px 0;
}
.service-img
{
    width: 100px;
    margin-top: 20px;
    
}
.services a:hover img
{
 transform: translateY(-10px);
}
.services
{
    padding: 20px;
    padding: 0;
    box-shadow: 8px 10px 10px 10px rgb(238, 238, 238);
}
.services h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.title::before
{
    content: '';
    background: #3384c7;
    height: 5px;
    width:200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);

}
.title::after
{
    content: '';
    background: #3384c7;
    height: 10px;
    width:50px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(8px);
    
}
#services .btn-primary{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right,#3384c7,#064964,#09374d);

}

/* about us */
#about-us
{
    background: #ffffff;
    padding-bottom: 50px;
    padding-top:50px ;
}
.about-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}
#about-us ul li{
    margin: 10px 0 ;
}
#about-us ul{
    margin-left: 20px;
}
/* testimonials */
#testimonials
{
    margin: 100px 0;
}
.testimonials
{
    
    margin-top:50px;
    margin-bottom: 50px;
}
.testimonials img
{
  height: 60px;
  width:60px;
  border-radius: 50%;
  margin:0 10px;
}
/* socia media */
#social-media
{
    background: #f8f9fa;
    padding: 100px 0;
}
#social-media p
{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icons img
{
width: 60px;
transition: 0.5s;
}
.social-icons a:hover img
{
 transform: translateY(-10px);
}
#footer{
    background-image: linear-gradient(to right,#0d4b7e,#064964,#0a4864);
    color: #fff;
}
.footer-box
{
    padding: 20px;
}
.footer-box img
{
    width: 120px;
    margin-bottom:20px ;
}
.footer-box .fa{
    margin-right:8px ;
    font-size: 25px;
    width: 40px;
    text-align: center;
    padding: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right,#0d4b7e,#064964,#0a4864);
}
.footer-box .form-control
{
    box-shadow: nonei !important;
    border: none;
    border-radius: 0;
    margin-top: 20px;
    max-width: 250px;
}
.footer-box .btn-primary
{
    box-shadow: none;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right,#0d4b7e,#064964,#0a4864);
    

}
hr
{
    background-color: #fff;
}
.copyright
{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}
