{%extends 'another.html'%}
{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block head_title %} Blogs {%endblock  %}</title>
</head>

<body>
    {%block body%}
    <!-- ------------ AOS Library ------------------------- -->
    <!-- <link rel="stylesheet" href="{% static 'css/aos.css' %}"> -->

    <!-- Custom Style   -->
    <link rel="stylesheet" href="{%static 'css/all.css'%}">
    <link rel="stylesheet" href="{%static 'css/aos.css' %}">
    <link rel="stylesheet" href="{%static 'css/blog.css'%}">
    <main>
        <section class="container ">
            <div class="site-content" style="margin-top: 5rem;">
                <div class="posts">
                  {% for blog in page_obj %}
                    <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                        <div class="post-image">
                            <div>

                                <img src="{{blog.image.url}}" class="img" alt="blog1">
                            </div>
                            <div class="post-info flex-row" style="background: #47b2e4;color:white;">
                                <a href="{% url 'category' blog.category %}" style="color:white;"><span>&nbsp;&nbsp;{{blog.categories}}</span></a>
                                <span><i
                                        class="fas fa-calendar-alt "></i>&nbsp;&nbsp;{{blog.pub_date|date}}</span>
                                <span></span>
                            </div>
                        </div>
                        <div class="post-title">
                            <a href="{% url 'blog-detail' blog.pk %}">{{blog.title}}</a>
                            <p>{{blog.content| safe|truncatewords:"200"|linebreaks }}
                            </p>
                            <a href="{% url 'blog-detail' blog.pk %}"> <button class="btn post-btn" style="background: #47b2e4;color:white;">Read More &nbsp; <i
                                        class="fas fa-arrow-right"></i></button></a>
                        </div>
                    </div>
                    <hr>
                    {%endfor%}



                    <div class="pagination flex-row">
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a href="?page={{page.obj.previous_page_number}}" class="page-link">Previous</a></li>
                        {%endif%}
                        {% if page_obj.has_next %}
                        <li class="page-item"><a href="?page={{page.obj.next_page_number}}" class="page-link">Next</a></li>
                        {%endif%}
                    </div>
                </div>
                <aside class="sidebar">
                    <div class="category">
                        <h2>Category</h2>
                        <ul class="category-list">
                            {% for item in cat_menu %}
                            
                            <a href="{% url 'category' item%}" style="background: red;color:white;">
                                <li class="list-items" data-aos="fade-left" data-aos-delay="100"style="background: yellow;color:white;">
                                    {{item}}

                                </li>
                            </a>
                            {%endfor%}
                            
                            
                            

                        </ul>
                    </div>
                    
                    
                    
                </aside>
            </div>

        </section>
    </main>
    <script src="{% static 'js/Jquery3.4.1.min.js'%}"></script>


    <script src="{%static 'js/jquery3.6.0.min.js'%}"></script>
    <!-- ------------ AOS js Library  ------------------------- -->

    <script src="{% static 'js/aos.js'%}"></script>

    <!-- Custom Javascript file -->
    <script src="{% static 'js/main.js'%}"></script>

</body>

</html>
{%endblock body%}
