
    {% extends "another.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_title %}Q&A{% endblock%}}
</head>
<body>
    {% block body %}
    <div class="container">
    <div class="jumbotron mt-4" style="background-color: rgb(235, 245, 250); border-radius:8px;">
        <h3 class="display-8"><a href="{% url 'blog-detail' blog.pk %}"> {{blog.title}}</h3></a>
        <div class="mb-1 text-muted">{{blog.date_time|date}}</div>
        <hr class="my-4">
        <p>{{blog.content | safe}}</p>
        </div>
        </div>
        
    <div class="container">

    
        <h2>Comments...</h2>
        {% if not blog.comments.all %}
        No Comments Yet.. <a href="#">Add one</a>
        {%else%}
        {% for comment in blog.comments.all %}
        <strong>{{comment.name}} -
            {{comment.date_added}} 
        <br>
        {{comment.body}}
            </div>
    </strong>
        {% endfor %}
        {% endif %}
    
    {% endblock body %}
</body>
</html>
