{% extends "another.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% block head_title %}Contact{% endblock%}}
  {% block contactactive%} active {% endblock contactactive%}
</head>


  {% block body%}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  <body style="background-color:rgb(255, 255, 255);">
  
    <!--Section: Contact v.2-->
    
    
        <style>
          .container-box{
            
            padding-bottom: 7px;
          }
         
        </style>
       
          <!--Section description-->
         
        <style>
          #contact-form
          {
            display: flex;
            flex-wrap: wrap;

            padding: 0;
            box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
          }
        </style>
        
         
<style>
 .blocktext{
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
 }
 .blocktext ul{
   padding: 20px;
 }
</style>
         


  
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title mt-3">
        <h2>Contact</h2>
        <p>Contact if you have any querry</p>
      </div>

      <div class="row">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <a href="https://g.page/rmulchandani?share"><p>G-12, Veda Business Park, Bhawarkuan, Indore 160/4, Bholaram Ustad Marg Gate, AB Road, Indore</p></a>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <a href="mailto:chetankm@gmail.com"><p>chetankm@gmail.com</p></a>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p><a href="tel:0731-4910077" style="text-decoration: none;color:rgb(0, 0, 0)"> 0731-4910077 </a>, <a href="tel:7582877777" style="text-decoration: none;color:rgb(0, 0, 0)"> 7582877777 </a>,<a href="tel:9424980001" style="text-decoration: none;color:rgb(0, 0, 0)">  9424980001 </a></p>
            </div>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d325.3647712805252!2d75.86306546726301!3d22.687984536294323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fcf064fb621d%3A0xcce7b89e1c4aab04!2sAB%20Road%20%26%20Bholaram%20Ustad%20Marg%2C%20Brahmapuri%20Colony%2C%20Bhanwar%20Kuwa%2C%20Indore%2C%20Madhya%20Pradesh%20452014!5e0!3m2!1sen!2sin!4v1614845197602!5m2!1sen!2sin" allowfullscreen></iframe>
          </div>

        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <form id="contact-form" name="contact-form" action="/contact" method="post"
            style="background-color: rgb(255, 255, 255);border-radius:7px;">
            {% csrf_token %}
            <!--Grid row-->
            <div class="row" style="padding: 10px;">

              <!--Grid column-->
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <label for="name" class="" style="font-size: 18px;" style="border-style:solid ;">Your name</label>
                  <input type="text" id="name" name="name" style="border-color: rgb(206, 205, 205);border-width:4px" class="form-control" placeholder="Enter your name">

                </div>
              </div>
              <!--Grid column-->
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <label for="name" class="" style="font-size: 18px;">Phone number</label>
                  <input type="tel" id="name" name="phone" style="border-color: rgb(206, 205, 205);border-width:4px" class="form-control" placeholder="Enter your phone number">

                </div>
              </div>
              <!--Grid column-->
              <div class="col-md-6" style="margin-top: 8px;">
                <div class="md-form mb-0">
                  <label for="email" class="" style="font-size: 18px;">Your email</label>
                  <input type="text" id="email" name="email" style="border-color: rgb(206, 205, 205);border-width:4px" class="form-control" placeholder="Enter your email">

                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="md-form" style="margin-top: 10px;">
                    <label for="desc" class="" style="font-size: 18px;">Message</label>
                    <textarea type="text" id="message" name="desc" style="border-color: rgb(206, 205, 205);border-width:2px" class="form-control md-textarea"
                      placeholder="How may we help you.."></textarea>

                  </div>
                </div>
                <!--Grid column-->

              </div>
             
            


              <br>
              <div class="text-center text-md-left" style="margin-top:8px">
                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
              </div>
              <div class="status"></div>
            </div>
          </form>
        </div>

      </div>

    </div>
  </section>
</body>

</html>
{% endblock body%}