{% extends "another.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_title %}courses{% endblock%}}
</head>
{%block body%}
<body>
    <div class="container mt-3">
        <h1><span class="text-primary">COURSES</span></h1>
       <div class='column'>
        <div class="col-md-4 services" >
           <h3> <li>UPSC
             <li>MPPSC  
                 <li>MPPSC Forest Exam
                     <li>LIve Answer Writing  
                         <li>Prelilms Test Series 
               <li>Mains Test Series </h3>
                                 </div>
           <div class='col-md-4 services' style="border:solid;">
                                <h3> <li>RAS 
                                     <li>RPSC Forest Exam 
                                         <li>SSC 
                                    <li>MPSI</h3>
                                                 </div>
                                                     </div>
    </div>

{%endblock body%}
</body>
</html>
