{% extends "another.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_title %}courses{% endblock%}}
</head>
{%block body%}
<body>
    <div class="container mt-3 text-center" >
        <h1><span class="text-primary">COURSES</span></h1>
        </div>
      
        <div class="col-md-4  text-center" >
           <h3> UPSC
             MPPSC  
                 MPPSC Forest Exam
                     LIve Answer Writing  
                          
               <li>Mains Test Series </h3>
                                 </div>
           <div class='col-md-4  text-center'>
                                <h3> RAS 
                                    Prelilms Test Series
                                     RPSC Forest Exam 
                                         SSC 
                                    MPSI</h3>
                                                 </div>
                                                     
    

{%endblock body%}
</body>
</html>
