{% extends "another.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_title %}practice questions{% endblock%}}
</head>

<body>
    {% block body %}
    <script>
        
    </script>
    <div class="container mt-5">
        <h4 class="display-5 text-center text-md-left">
            Select Course for<span class="text-primary"> MCQ</span>. <br>
            
          </h4>
        <div class="row ">
            <style>
                .container-box{
                    padding: 3px;
                    box-shadow: 8px 10px 10px 10px rgb(213, 218, 217);
                }
            </style>
            <div class="container-box text-center">   
                <p class="w-responsive mx-auto mb-3" style="font-size: 17px;">Select course of your choice to practice MCQ,<br>
                </p>
                </div>
            {% for course in courses %}
            <div class="container mt-4 mb-3">
                <a href="/{{course.id}}" class="btn btn-primary">{{course.course_name}}</a>

            </div>
        </div>
    </div>
    <br>


    {% endfor %}
    {% endblock body %}


</body>
</html>