{% extends "another.html" %}
{%load static%}
<title>{% block head_title %}Downloads {% endblock %} </title>
{% block body %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
			integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

<body>
     
<div class="container mt-3 mb-3" style="margin-top: 5rem;" >
<table class="table table-hover" style="width:50%;margin-top: 5rem;">
    
    <tr>
      <th>Topic</th>
      
      <th>Download</th>
    </tr>
    {%for document in object_list%}
    <tr>
      <td>{{document.title}}</td>
      
      <td><a href="{{ document.download.url}}" download > <i class="fa fa-download" aria-hidden="true"></i></a></td>
    </tr>
   
    {%endfor%}
  </table> 
</div>

</body>
{% endblock body %}