{% extends "another.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_title %}notes{% endblock%}}
</head>
{%block body%}
<body>
    <div class="container  mt-3">
        <h1 class="display-3 text-center text-md-left">
             <span class="text-primary">Notes</span> <br>
            
          </h1></div>
{%for note in object_list%}
<style>
    #content{
        background-color: rgb(226, 243, 243);
        box-shadow: 8px 10px 10px 10px rgb(235, 235, 235);
    }
</style>
<div class="container mt-3 mb-5" id="content">
    <h3 style="margin-top: 5;">{{note.title}}</h3>
    <div class="mb-1 text-muted mx-3">{{note.pub_date|date}}</div>
    <p>{{note.notes | safe}}</p>
    <!-- <a href="{{ note.download.url}}" download class="btn btn-primary float-right"> Download</a> -->
    <hr class="my-2">

    {%endfor%}
</div>
</div>
{%endblock body%}
</body>
</html>
