{% extends "another.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_title %}notes{% endblock%}}
</head>
{%block body%}
<body>
    <div class="container mt-3">
        <h2>Notes</h2>
    </div>
{%for note in object_list%}

<div class="container">
    <h3>{{note.title}}</h3>
    <p>{{note.notes}}</p>
    {%endfor%}
</div>
{%endblock body%}
</body>
</html>